<div id="about">
    <h1>Welcome to the Middlebury phorum homepage.</h1>
    <hr/>
    <div class="content">
        <p>
        We're a nonprofit campus startup seeking to design a digital platform which, via structure
        and incentive, facilitates discourse that distills the best ideas, as opposed to distracting
        from them.
        <br/>
        <br/>
        </p>
        <div id="how-it-works">
                <h3>How it Works</h3>

            <br/>
            <br/>

            <img src="/pics/paper.png" alt="">
        </div>
    </div>
</div>
