/*======================================================== ABOUT ========================================================*/

#about {
	text-align: left;
	color: black;
	background-color: #dee5e5;
	padding-top: 90px;
	font-family: 'Source Sans Pro', sans-serif;
}

#about h1 {
	/*font-weight: 400;*/
	font-size: 2.9em;
}

#about .content {
	font-size: 1.3em;
	padding: 90px 40px 63px;
}

#about .content p {
	padding: 90px 40px 63px;
}

#about .content #how-it-works {
	background-color: #007577;
	color: #86bbd8;
	text-align: center;
}
